# FiveM Server Cache and Logs
cache/
server-cache/
server-cache-priv/
log/
logs/
*.log
crash-reports/

# System Files
Thumbs.db
.DS_Store

# Node Modules
node_modules/

# Server Artifacts (Excluding citizen if customized, but typically ignored. User edited scheduler.lua so keeping citizen)
# citizen/ 
alpine/
run.cmd
run.sh
LICENSE
version.txt

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Extra
*.rar
*.zip
*.7z

# AI Models (Large Files)
*.safetensors
server/asset/
