set steam_webApiKey "840BB63C5FC990DA332C1125247C2983" # Obtenha sua key: https://steamcommunity.com/dev/apikey
sv_licenseKey  cfxk_3nRtpLbLxjxBtJctT7hy_2eVFPI # Obtenha sua key: https://keymaster.fivem.net
#sv_licenseKey  cfxk_D5Pobso96TWX0mqop84M_3lsbrN