#=============================================#
#                                             #
#          GODZ - SUPER BASE                  #
#                                             #
#=============================================#

#-- CORE DEPENDENCIES --#
ensure oxmysql
ensure vrp

#-- STANDALONE & SYSTEM --#
# Scripts de terceiros e do sistema
ensure [standalone]

#-- GODZ ECOSYSTEM --#
ensure [godz_core]
ensure [Illegal]
ensure [Jobs]
ensure [Security]

#-- ASSETS --#
# Mapas, Veículos e Roupas
ensure [maps]
ensure [vehicles]
ensure [clothing]
