#--=[ CONNECTION ]========================================================--#

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set mysql_connection_string "mysql://root@localhost/vrp?multipleStatements=true"

set mysql_slow_query_warning 150
set mysql_transaction_isolation_level 2
set mysql_debug false
set mysql_ui false

#--=[ RESOURCES ]=========================================================--#

exec config/resources.cfg

#--=[ GENERAL SETTINGS ]==================================================--#

sets sv_projectName "GODZ BASE - VRPEX"
sets sv_projectDesc "Base oficial GODZ: Performance, Segurança e Escalabilidade"
sets discord "github.com/DayZGodz"
sets website "https://github.com/DayZGodz/Minha-Base-FiveM"
sets developer "GODZ Dev"
sv_hostname "GODZ BASE - VRPEX"
#sv_master1 ""
sv_maxclients 7 # Deixe em 7 caso não tenha uma key premium.
sets locale "pt-BR"
sets tags "godz, clean, roleplay, vrpex, otimizado, identidade, inventario, faccoes, empregos, garagens, third-eye, admin, onesync, infinity"

#--=[ VISUAL SETTINGS ]===================================================--#

load_server_icon logo.png # Resolução: 96x96
sets banner_detail "" # opcional
sets banner_connecting "" # opcional

#--=[ PRIVATE DOOR CONFIG & SCRIPTHOOK ]==================================--#

sv_scriptHookAllowed 0
sv_endpointprivacy true

#--=[ GENERAL PERMISSION SETTINGS ]=======================================--#

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace identifier.steam:11000013f41eb13 "command.hypnonema" allow
add_principal identifier.steam:11000013f41eb13 group.admin
add_principal identifier.steam:11000013f41eb13 group.sync

add_principal resource.police_tablet group.admin
add_ace resource.police_tablet command allow

#--=[ SYNC PERMISSION SETTINGS ]==========================================--#

add_ace group.sync "changeWeather" allow
add_ace group.sync "changeTime" allow
add_ace group.sync "freezeTime" allow
add_ace group.sync command.weather allow
add_ace group.sync command.time allow
add_ace group.sync command.freezetime allow

#--=[ KEYS ]==============================================================--#

exec config/keys.cfg
