#=============================================#                                             
#                                             #
#                GODZ BASE VRPEX              #
#                                             #
#=============================================#

#-- SYSTEM --#
ensure [System]
ensure [builders]
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog

#-- DATABASE --#
ensure vrp_oxmysql

#-- FRAMEWORK --#
ensure vrp

#-- VOICE / TIME --#
ensure [voip]
ensure [time]

#-- GODZ ECOSYSTEM --#
ensure [godz_core]
ensure [godz_illegal]
ensure [godz_jobs]
ensure [godz_assets]
ensure [godz_security]

#-- OUTROS SCRIPTS --#
ensure [scripts]
ensure renzu_customs
ensure vehiclepack
ensure qb-interior
ensure angelicxs-elevators
ensure favela_pack
