#=============================================#                                             
#                                             #
#                SCRIPTS BASE                 #
#                                             #
#=============================================#
ensure [System]

#-- VRP --#
ensure vrp
ensure vrp_oxmysql

#-- Core --#
ensure [Core]
# ensure vrp_identity
# ensure vrp_inventory
ensure [ZIRIX_MODS]
ensure unity_logs

#-- Phones --#
ensure gcphone

#-- Ambiente --#
ensure favela_pack

#-- Sistemas --#
ensure unity_shield
ensure renzu_customs
ensure vehiclepack
ensure qb-interior
ensure angelicxs-elevators
